---
import Footer from "../components/Footer.astro";
import Hero from "../components/google-ads/Hero.astro";
import Header from "../components/Header.astro";
import Video from "../components/google-ads/Video.astro";
import Layout from "../layouts/Layout.astro";
import ImportantSection from "../components/google-ads/ImportantSection.astro";
import Reviews from "../components/Reviews.astro";
import "@splidejs/splide/css/core";
import Promotion from "../components/google-ads/Promotion.astro";
import CallToAction from "../components/google-ads/CallToAction.astro";
---

<Layout
  title="Google ADS - Inspiración Creativa"
  description="Aumenta tus pacientes con estrategias de marketing digital especializadas para médicos. Optimización en Google, publicidad dirigida y más para hacer crecer tu consulta. ¡Haz que más pacientes te encuentren!"
  url="https://agenciainspiracion.com/campaing-google-ads/"
  keywords="marketing para médicos, aumentar pacientes, SEO para consultas médicas, publicidad en Google, estrategias de marketing médico, optimización en motores de búsqueda, promoción de clínicas, marketing digital para salud"
>
  <Header />
  <main class="w-full grid place-items-center">
    <Hero />
    <Video />
    <ImportantSection />
    <Promotion />
    <Reviews />
    <CallToAction />
  </main>
  <Footer />
</Layout>
