---
import Footer from "../components/Footer.astro";
import Hero from "../components/google-ads/Hero.astro";
import Header from "../components/Header.astro";
import Video from "../components/google-ads/Video.astro";
import Layout from "../layouts/Layout.astro";
import ImportantSection from "../components/google-ads/ImportantSection.astro";
import Reviews from "../components/Reviews.astro";
---

<Layout title="Google ADS - Inspiración Creativa" description="">
  <Header />
    <main class="grid place-items-center">
      <Hero />
      <Video />
      <ImportantSection />
      <Reviews />
    </main>
    <Footer />
</Layout>