---
import Advantages from "../components/Advantages.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="inicio - Inspiración Creativa" description="">
	<Header />
	<main>
		<Hero />
		<Advantages />
	</main>
</Layout>
