---
import Image from "astro/components/Image.astro";
import Fer from "../images/team/fer.png";
import Uriel from "../images/team/uriel.png";
import Esbeydy from "../images/team/esbe.png";
import Hector from "../images/team/hector.png";
import ArrowRight from "./Icons/ArrowRight.astro";
import Team from "./Icons/Team.astro";
import Data from "./Icons/Data.astro";
---

<div
  class="px-4 w-full flex items-center justify-end flex-col gap-3 xxs:flex-row"
  id="about"
>
  <span class="font-semibold">Nuestro Equipo</span>
  <div class="flex">
    <Image
      src={Esbeydy}
      width="494"
      height="494"
      alt="Fotografía del equipo"
      class="border-2 border-white rounded-full w-10 bg-gradient-to-tr from-violet-500 to-violet-800"
    />
    <Image
      src={Uriel}
      width="494"
      height="494"
      alt="Fotografía del equipo"
      class="border-2 border-white rounded-full w-10 -translate-x-[10px] bg-gradient-to-tr from-violet-500 to-violet-800"
    />
    <Image
      src={Fer}
      width="494"
      height="494"
      alt="Fotografía del equipo"
      class="border-2 border-white rounded-full w-10 -translate-x-5 bg-gradient-to-tr from-violet-500 to-violet-800"
    />
    <Image
      src={Hector}
      width="494"
      height="494"
      alt="Fotografía del equipo"
      class="border-2 border-white rounded-full w-10 -translate-x-[30px] bg-gradient-to-tr from-violet-500 to-violet-800"
    />
    <a
      href="#team"
      class="border-2 border-white rounded-full w-10 grid place-content-center -translate-x-5 group"
      aria-label="Ir a la sección de nuestro equipo"
    >
      <ArrowRight class="w-5 rotate-45 transition group-hover:rotate-90" />
    </a>
  </div>
</div>
<section class="w-full max-w-7xl px-4 my-10">
  <div class="bg-image bg-cover bg-center rounded-2xl">
    <div class="bg-[#13151a]/50">
      <div
        class="flex flex-col gap-4 p-4 lg:flex-row lg:p-0 lg:px-8 lg:pb-6 lg:pt-52"
      >
        <div class="flex flex-col gap-4 justify-center">
          <span
            class="bg-violet-600 rounded-full px-3 py-2 inline-block w-max h-max"
            >¿Por qué elegirnos?</span
          >
          <h2
            class="uppercase font-semibold text-xl px-4 py-3 rounded-2xl text-[#13151a] bg-white inline-block w-max h-max lg:text-2xl"
          >
            Nuestras Ventajas
          </h2>
        </div>
        <article
          class="p-4 flex flex-col items-start gap-4 rounded-2xl bg-white text-gray-900"
        >
          <span class="flex gap-5 items-center">
            <Team class="w-10 min-w-10" />
            <h3 class="font-semibold">Equipo Experto</h3>
          </span>
          <p>
            Contamos con un equipo experto con capacidad de analizar resultados
            y modificar o implementar nuevas estrategias orientadas a la
            obtención de objetivos.
          </p>
        </article>
        <article
          class="p-4 flex flex-col items-start gap-4 rounded-2xl bg-white text-gray-900"
        >
          <span class="flex gap-5 items-center">
            <Data class="w-10 min-w-10" />
            <h3 class="font-semibold">Estrategias Personalizadas</h3>
          </span>
          <p>
            Diseñamos soluciones de marketing digital a medida para cada
            cliente, asegurando que nuestras estrategias se alineen
            perfectamente con sus objetivos y necesidades específicas.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>

<style>
  .bg-image {
    background-image: url(../images/background.jpg);
  }
</style>
