---
import Image from "astro/components/Image.astro";
import Question from "./Question.astro";

const faqs = [
  {
    question: "¿Qué servicios ofrecemos?",
    answer:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus similique dolores expedita asperiores consequatur at!",
  },
  {
    question: "¿Qué servicios ofrecemos?",
    answer:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus similique dolores expedita asperiores consequatur at!",
  },
  {
    question: "¿Qué servicios ofrecemos?",
    answer:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus similique dolores expedita asperiores consequatur at!",
  },
  {
    question: "¿Qué servicios ofrecemos?",
    answer:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus similique dolores expedita asperiores consequatur at!",
  },
  {
    question: "¿Qué servicios ofrecemos?",
    answer:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus similique dolores expedita asperiores consequatur at!",
  },
  {
    question: "¿Qué servicios ofrecemos?",
    answer:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus similique dolores expedita asperiores consequatur at!",
  },
];
---

<section
  class="w-full max-w-7xl px-4 mb-10 mt-10 flex flex-col justify-center items-center md:mt-16"
>
  <span
    class="bg-white text-[#13151a] rounded-full px-3 py-2 inline-block w-max h-max mb-5"
    >¿Alguna pregunta?</span
  >
  <h3 class="text-xl uppercase mb-4 lg:text-3xl">Preguntas frecuentes</h3>
  <div
    class="w-full max-w-2xl flex flex-wrap gap-4 justify-center items-center mt-10"
  >
    {
      faqs.map((faq) => (
        <Question question={faq.question} answer={faq.answer} />
      ))
    }
  </div>
</section>
