---
import Question from "./Question.astro";

const faqs = [
  {
    question: "¿Qué servicios de marketing digital ofrecen?",
    answer:
      "Ofrecemos servicios de SEO, gestión de redes sociales, publicidad paga (PPC), email marketing y diseño web, todos personalizados para tu negocio.",
  },
  {
    question: "¿Cómo miden el éxito de las campañas de marketing?",
    answer:
      "Medimos el éxito mediante métricas como el ROI, la tasa de conversión, el tráfico web y el engagement en redes sociales.",
  },
  {
    question: "¿Cuánto tiempo toma ver resultados?",
    answer:
      "Depende del servicio: SEO puede tardar de 3 a 6 meses, mientras que PPC y redes sociales suelen mostrar resultados en semanas.",
  },
  {
    question: "¿Cómo personalizan las estrategias para cada negocio?",
    answer:
      "Diseñamos cada estrategia basada en tus objetivos, público y mercado específico. No usamos soluciones genéricas.",
  },
  {
    question: "¿Ofrecen paquetes o precios personalizados?",
    answer:
      "Sí, tenemos paquetes estándar y opciones personalizadas según tus necesidades y presupuesto.",
  },
  {
    question: "¿Cómo es el proceso de trabajo con su agencia?",
    answer:
      "Comenzamos con una consulta, seguimos con la estrategia, implementamos las campañas y luego monitoreamos y optimizamos constantemente, informándote con reportes regulares.",
  },
];
---

<section
  class="w-full max-w-7xl px-4 mb-10 mt-10 flex flex-col justify-center items-center md:mt-16"
>
  <span
    class="bg-white text-[#13151a] rounded-full px-3 py-2 inline-block w-max h-max mb-5"
    >¿Alguna pregunta?</span
  >
  <h3 class="text-xl uppercase mb-4 lg:text-3xl">Preguntas frecuentes</h3>
  <div
    class="w-full max-w-6xl flex flex-wrap gap-4 justify-center items-center mt-10"
  >
    {
      faqs.map((faq) => (
        <Question question={faq.question} answer={faq.answer} />
      ))
    }
  </div>
</section>
