---
import Image from "astro/components/Image.astro";
import Logo from "../images/logos/logo.png";
import LogoDark from "../images/logos/logo-blue.png";
import ContactButton from "./ContactButton.astro";

interface Props {
  theme?: string;
}

const { theme } = Astro.props;
---

<header class="w-full max-w-[1400px] flex justify-center items-center p-4">
  <nav class="w-full flex justify-between items-center">
    <a class="w-44 md:w-52" href="/">
      <Image
        src={theme === "dark" ? Logo : LogoDark}
        width="1080"
        height="164"
        alt="Logo de Inspiración Creativa"
      />
    </a>
    <div class="hidden lg:flex">
      <ul class="flex justify-center items-center gap-10">
        <li>
          <a class="transition hover:text-violet-600" href="/#about">Nosotros</a
          >
        </li>
        <li>
          <a class="transition hover:text-violet-600" href="/#services"
            >Servicios</a
          >
        </li>
        <li>
          <a class="transition hover:text-violet-600" href="/#clients"
            >Clientes</a
          >
        </li>
        <li>
          <a class="transition hover:text-violet-600" href="#reviews"
            >Testimonios</a
          >
        </li>
      </ul>
    </div>
    <ContactButton
      classList="hidden lg:block"
      bg={theme === "light" ? "bg-blue-500" : ""}
    />
    <button
      aria-label="Abrir menu"
      class="grid place-content-center gap-2 lg:hidden"
      id="btn-menu"
    >
      <div
        class={`w-8 h-1 rounded-md ${theme === "light" ? "bg-blue-600" : "bg-white"} transition`}
      >
      </div>
      <div
        class={`w-8 h-1 rounded-md ${theme === "light" ? "bg-blue-600" : "bg-white"} transition`}
      >
      </div>
      <div
        class={`w-8 h-1 rounded-md ${theme === "light" ? "bg-blue-600" : "bg-white"} transition`}
      >
      </div>
    </button>
  </nav>
</header>

<div
  class={`w-full fixed h-[calc(100svh-80px)] top-[80px] flex justify-center items-center flex-col ${theme === "light" ? "bg-blue-900/95" : "bg-gray-900/95"} opacity-0 -right-full transition z-10 data-[active]:opacity-100 data-[active]:right-0`}
  id="container-menu"
>
  <div class={theme === "light" ? "text-white" : ""}>
    <ul class="grid gap-4" id="menu-overlay">
      <li><a href="/#about">Nosotros</a></li>
      <li><a href="/#services">Servicios</a></li>
      <li><a href="/#clients">Clientes</a></li>
      <li><a href="#reviews">Testimonios</a></li>
    </ul>
  </div>
  <ContactButton classList="mt-6" bg={theme === "light" ? "bg-blue-600" : ""} />
</div>

<style>
  .btn-menu-open div:nth-last-child(2) {
    opacity: 0;
  }
  .btn-menu-open div:nth-child(1) {
    transform: rotate(45deg) translateY(10px) translateX(5px);
  }
  .btn-menu-open div:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px) translateX(6px);
  }
</style>

<script>
  const btnMenu = document.getElementById("btn-menu");
  const containerMenu = document.getElementById("container-menu");
  const buttonsOverlay = document.querySelectorAll("#menu-overlay > li > a");
  const body = document.querySelector("body");

  const handdleVisibilityMenu = () => {
    btnMenu?.classList.toggle("btn-menu-open");
    body?.classList.toggle("menu-active");

    if (containerMenu?.getAttribute("data-active")) {
      containerMenu.removeAttribute("data-active");
    } else {
      containerMenu?.setAttribute("data-active", "1");
    }
  };

  btnMenu?.addEventListener("click", handdleVisibilityMenu);

  buttonsOverlay.forEach((btn) => {
    btn.addEventListener("click", handdleVisibilityMenu);
  });
</script>
