---
import Image from "astro/components/Image.astro";
import ContactButton from "./ContactButton.astro";
import googleSearch from "../images/logos/google-search.png";
import partner from "../images/logos/partner.png";
import heroImg from "../images/hero.png";
---

<section
  class="w-full max-w-7xl grid grid-cols-1 gap-10 px-4 py-10 md:grid-cols-2 lg:gap-12 lg:py-0 lg:pb-10 lg:pt-20"
>
  <article class="flex flex-col gap-6">
    <h1 class="uppercase text-5xl font-[poppins-bold]">
      Tu <span
        class="text-transparent bg-gradient-to-br from-violet-800 to-violet-500 bg-clip-text"
        >Agencia</span
      > de Marketing Digital
    </h1>
    <ContactButton />
    <p class="text-zinc-400">
      Nos dedicamos a ayudar a nuestros clientes a potenciar su marca y alcanzar
      sus objetivos de negocio. Nuestro enfoque integral y personalizado nos
      permite diseñar estrategias de marketing digital efectivas que se adaptan
      a las necesidades específicas de cada cliente.
    </p>
    <div class="w-full flex justify-start items-center gap-5">
      <div class="w-20">
        <Image
          src={googleSearch}
          alt="Logo de certificación de Google Search"
          width="500"
          height="500"
          class="grayscale"
          loading="eager"
        />
      </div>
      <div class="w-20">
        <Image
          src={partner}
          alt="Logo de partner de Google"
          width="488"
          height="488"
          class="grayscale"
          loading="eager"
        />
      </div>
    </div>
  </article>
  <article
    class="w-full grid place-content-end md:place-content-start lg:place-content-end"
  >
    <Image
      src={heroImg}
      width="980"
      height="969"
      alt="Hero Image"
      loading="eager"
      class="w-full max-w-lg"
    />
  </article>
</section>
