---
import Image from "astro/components/Image.astro";
import Olga from "../images/clients/olga.png";
import Multiservices from "../images/clients/multiservices.png";
import Plaza from "../images/clients/plaza.png";
import Job from "../images/clients/multiservices-job.png";
---

<div class="w-full px-4 flex flex-col justify-center items-start mt-24">
  <span
    class="bg-white text-[#13151a] rounded-full px-3 py-2 inline-block w-max h-max mb-5"
    >Nuestros Portfolio</span
  >
  <section
    class="transition-all w-full max-w-7xl relative z-[5] px-4 bg-gradient-to-br from-violet-700 py-4 to-violet-400 rounded-2xl shadow-md lg:px-8 lg:py-8"
  >
    <div class="w-full flex flex-col md:flex-row gap-4">
      <h3 class="text-xl uppercase lg:text-4xl">
        una muestra de nuestro trabajo
      </h3>
      <div class="flex flex-col gap-4 max-w-[500px] lg:max-w-full">
        <p>
          Cada campaña y estrategia que implementamos está diseñada para
          maximizar el impacto y alcanzar los objetivos específicos de cada
          marca.
        </p>
      </div>
    </div>
    <div
      class="grid grid-cols-2 gap-2 w-full mt-5 md:mt-10 md:max-h-[300px] md:grid-cols-4 md:grid-rows-6 md:gap-4"
    >
      <a
        href="https://multiservices-job.mx"
        target="_blank"
        rel="noopener noreferrer"
        class="w-full object-cover h-full rounded-2xl transition overflow-hidden group md:row-span-6"
      >
        <Image
          src={Job}
          width="2000"
          height="1333"
          alt="Teléfono móvil"
          class="w-full object-cover h-full rounded-2xl transition md:row-span-6 group-hover:scale-110"
        /></a
      >
      <a
        href="https://dracastillomaternofetal.com"
        target="_blank"
        rel="noopener noreferrer"
        class="w-full object-cover h-full rounded-2xl transition overflow-hidden group md:row-span-4"
      >
        <Image
          src={Olga}
          width="1280"
          height="853"
          alt="Teléfono móvil"
          class="w-full object-cover h-full rounded-2xl transition md:row-span-4 group-hover:scale-110"
        /></a
      >
      <a
        href="https://plaza-grill.com.mx"
        target="_blank"
        rel="noopener noreferrer"
        class="w-full object-cover h-full rounded-2xl transition overflow-hidden group md:col-span-2 md:row-span-6"
      >
        <Image
          src={Plaza}
          width="2000"
          height="1333"
          alt="Teléfono móvil"
          class="w-full object-cover h-full rounded-2xl transition md:col-span-2 md:row-span-6 group-hover:scale-110"
        /></a
      >
      <a
        href="https://multiservicescard.com.mx"
        target="_blank"
        rel="noopener noreferrer"
        class="w-full object-cover h-full rounded-2xl group md:row-span-2 transition overflow-hidden"
      >
        <Image
          src={Multiservices}
          width="2000"
          height="1333"
          alt="Teléfono móvil"
          class="w-full object-cover h-full rounded-2xl group-hover:scale-110 transition md:row-span-2"
        /></a
      >
    </div>
  </section>
</div>
