---
import Chevron from "./Icons/Chevron.astro";
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<article
  class="w-full bg-[#2f2d35] transition rounded-2xl p-4 h-full group cursor-pointer data-[show]:bg-[#383838] hover:bg-[#383838] md:w-min container-faq"
>
  <button class="w-full flex justify-between items-center gap-3">
    <h4>{question}</h4>
    <Chevron
      class="w-8 transition rotate-90 group-[.show]:-rotate-90 group-[.show]:text-violet-500"
    />
  </button>
  <p
    class="max-h-0 transition-all duration-[500ms] overflow-hidden origin-bottom group-[.show]:max-h-96"
  >
    {answer}
  </p>
</article>

<script>
  const container = document.querySelectorAll(".container-faq");

  container.forEach((item, i) =>
    item.addEventListener("click", () => {
      container[i].classList.toggle("show");
      const dataShow = container[i].getAttribute("data-show");

      if (dataShow) {
        container[i].removeAttribute("data-show");
      } else {
        container[i].setAttribute("data-show", "1");
      }
    }),
  );
</script>
