---
import CardReview from "./CardReview.astro";
import Chevron from "./Icons/Chevron.astro";

const reviews = [
  {
    text: "Excelente servicio y resultados sorprendentes. Desde que comenzamos a trabajar con ellos, nuestras ventas han aumentado significativamente.",
    name: "Arturo Muñoz",
    imgSrc: "/testimonial-pictures/juarez-tarjeta.webp",
    company: "Multiservices",
  },
  {
    text: "Su equipo de marketing es altamente profesional y siempre están un paso adelante en tendencias digitales. Totalmente recomendados.",
    name: "Jaime",
    imgSrc: "/logos/logo-plaza-grill.png",
    company: "Plaza Grill",
  },
  {
    text: "Hicieron un gran trabajo con nuestra campaña de redes sociales. La creatividad y el enfoque estratégico fueron claves para nuestro éxito.",
    name: "Emannuel",
    imgSrc: "/testimonial-pictures/emannuel.jpg",
    company: "Hackema",
  },
  {
    text: "Gracias a su experiencia en SEO, nuestro sitio web ha mejorado su posición en Google, lo que ha incrementado nuestro tráfico y clientes potenciales.",
    name: "Olga Castillo",
    imgSrc: "/logos/olga-castillo.png",
    company: "Dra. Olga Castillo",
  },
  {
    text: "Estamos muy contentos con los resultados de nuestra campaña de email marketing. Han demostrado ser un socio estratégico para nuestro negocio.",
    name: "Adriana",
    imgSrc: "/testimonial-pictures/vida-prenatal.jpg",
    company: "Vida Prenatal",
  },
  {
    text: "Nos ayudaron a rediseñar nuestro sitio web y a mejorar la experiencia de usuario. Los resultados han sido excepcionales.",
    name: "David",
    imgSrc: "/testimonial-pictures/fit-meals.jpg",
    company: "Fit Meals",
  },
];
---

<div class="w-full px-4 flex flex-col justify-center items-center" id="reviews">
  <section class="w-full max-w-7xl px-4 pb-4 pt-4 lg:px-8 lg:pt-24">
    <div class="mt-4 w-full flex justify-center items-center flex-col md:mt-0">
      <div class="splide splide-reviews">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-xl uppercase lg:text-4xl">
            Lo que dicen nuetros clientes
          </h3>
          <div class="splide__arrows w-full flex justify-end mb-5 gap-4">
            <button
              class="splide__arrow splide__arrow--prev p-1 border-2 border-violet-500 hover:bg-violet-500 group transition rounded-full"
            >
              <Chevron
                class="w-8 h-8 rotate-180 text-violet-500 group-hover:text-white transition"
              />
            </button>
            <button
              class="splide__arrow splide__arrow--next p-1 border-2 border-violet-500 hover:bg-violet-500 group transition rounded-full"
            >
              <Chevron
                class="w-8 h-8 text-violet-500 group-hover:text-white transition"
              />
            </button>
          </div>
        </div>
        <div class="splide__track">
          <ul class="splide__list">
            {
              reviews.map((item) => (
                <CardReview
                  imgSrc={item.imgSrc}
                  name={item.name}
                  text={item.text}
                  company={item.company}
                />
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  import Splide from "@splidejs/splide";

  const splideReviews = new Splide(".splide-reviews", {
    type: "loop",
    perPage: 3,
    perMove: 1,
    width: "100%",
    gap: "30px",
    autoplay: false,
    breakpoints: {
      1200: { width: "928px", perPage: 3, gap: "10px" },
      1023: { width: "700px", perPage: 2 },
      767: { width: "400px", perPage: 1 },
      426: { width: "350px", perPage: 1 },
      376: { width: "300px", perPage: 1 },
      321: { width: "255px", perPage: 1 },
    },
  });

  splideReviews.mount();
</script>
