---
import CardService from "./CardService.astro";
import ContactButton from "./ContactButton.astro";
import Brand from "./Icons/Brand.astro";
import Social from "./Icons/Social.astro";
import Google from "./Icons/Google.astro";
import SEO from "./Icons/SEO.astro";
import Ad from "./Icons/Ad.astro";
import Web from "./Icons/Web.astro";
import Info from "./Icons/Info.astro";
import Chevron from "./Icons/Chevron.astro";
import "@splidejs/splide/css/core";

const servicesInfo = [
  {
    icon: Brand,
    title: "Branding",
    text: "Creación y gestionamiento de una identidad única para una marca o empresa.",
    features: [
      "Tipografías y colore",
      "Manual de identidad",
      "Desarrollo de identidad gráfica",
    ],
  },
  {
    icon: Social,
    title: "Gestión de Redes Sociales",
    text: "Administración y optimización de plataformas sociales para aumentar la visibilidad y fidelización de clientes.",
    features: [
      "Administración y gestión",
      "Creación de contenido",
      "Análisis, reportes y métricas",
    ],
  },
  {
    icon: Google,
    title: "Publicidad en Google",
    text: "Atraer tráfico relevante a tu sitio web y aumentar las conversiones de clientes potenciales.",
    features: [
      "Creación y gestión de campañas",
      "Optimización de anuncios",
      "Reportes y análisis de campañas",
    ],
  },
  {
    icon: SEO,
    title: "SEO",
    text: "Estrategias para mejorar la visibilidad de un sitio web en los resultados orgánicos de motores de búsqueda.",
    features: [
      "Auditorías SEO y análisis de competencia",
      "Estrategias de contenido",
      "Estrategias Off-Page",
    ],
  },
  {
    icon: Ad,
    title: "Marketing de Contenidos",
    text: "Creación de contenido relevante y valioso para atraer a una audiencia definida.",
    features: [
      "Creación de blogs, artículos y contenido visual",
      "Estrategias de distribución y promoción de contenido",
      "Optimización de contenido para SEO",
    ],
  },
  {
    icon: Web,
    title: "Diseño y Desarrollo Web",
    text: "Diseñamos y desarrollamos sitios web atractivos, funcionales y adaptables a diferentes dispositivos, optimizados para la mejor experiencia del usuario.",
    features: ["Landing Page", "Tienda en Línea", "Página Web"],
  },
  {
    icon: Info,
    title: "Consultoría",
    text: "Asesoría para desarrollar, implementar y optimizar estrategias de marketing digital.",
    features: [
      "Asesoría en marketing y transformación digital",
      "Capacitación para equipos de marketing",
      "Análisis y recomendaciones para mejorar el desempeño digital",
    ],
  },
];
---

<div class="w-full px-4 flex flex-col justify-center items-start" id="services">
  <span
    class="bg-white text-[#13151a] rounded-full px-3 py-2 inline-block w-max h-max mb-5"
    >Nuestros Servicios</span
  >
  <section
    class="transition-all w-full max-w-7xl px-4 bg-gradient-to-br h-[700px] from-violet-700 pb-4 pt-4 to-violet-400 rounded-2xl md:h-[400px] lg:px-8 lg:pb-52 lg:pt-6"
  >
    <div class="w-full flex flex-col md:flex-row gap-4">
      <h3 class="text-xl uppercase lg:text-4xl">Ofrecemos soluciones en</h3>
      <div class="flex flex-col gap-4 max-w-[500px] lg:max-w-full">
        <p>
          Potenciamos tu marca con estrategias personalizadas de SEO, redes
          sociales, publicidad en línea, contenido y diseño web. Nuestro equipo
          de expertos garantiza un impacto significativo. Tu éxito es nuestro
          objetivo.
        </p>
        <ContactButton bg="bg-white" textColor="text-[#13151a]" />
      </div>
    </div>
    <div class="mt-4 w-full flex justify-center items-center flex-col md:mt-0">
      <div class="splide splide-services">
        <div class="splide__arrows w-full flex justify-end mb-5 gap-4">
          <button
            class="splide__arrow splide__arrow--prev p-1 bg-slate-200 rounded-full transition hover:bg-slate-50"
          >
            <Chevron class="w-8 h-8 rotate-180 text-[#13151a]" />
          </button>
          <button
            class="splide__arrow splide__arrow--next p-1 bg-slate-200 rounded-full transition hover:bg-slate-50"
          >
            <Chevron class="w-8 h-8 text-[#13151a]" />
          </button>
        </div>
        <div class="splide__track">
          <ul class="splide__list">
            {
              servicesInfo.map((item) => (
                <CardService
                  Icon={item.icon}
                  title={item.title}
                  text={item.text}
                  features={item.features}
                />
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  import Splide from "@splidejs/splide";

  const splide = new Splide(".splide-services", {
    type: "loop",
    perPage: 4,
    perMove: 1,
    width: "100%",
    gap: "10px",
    autoplay: false,
    breakpoints: {
      1200: { width: "928px", perPage: 3 },
      1023: { width: "700px", perPage: 2 },
      767: { width: "400px", perPage: 1 },
      426: { width: "350px", perPage: 1 },
      376: { width: "300px", perPage: 1 },
      321: { width: "255px", perPage: 1 },
    },
  });

  splide.on("active", function (slide) {
    slide.slide.classList.add("active");
    slide.slide.setAttribute("data-active", "1");
  });

  splide.on("inactive", function (slide) {
    slide.slide.classList.remove("active");
    slide.slide.removeAttribute("data-active");
  });

  splide.mount();
</script>
