---
import Image from "astro/components/Image.astro";
import ContactButton from "../ContactButton.astro";
import Doc from "../../images/doc.png";
---

<section
  class="w-full grid place-content-center max-w-6xl py-10 px-4 md:grid-cols-2 md:py-20"
>
  <div
    class="w-full flex flex-col justify-center p-8 gap-6 items-center rounded-se-2xl rounded-ss-2xl bg-gradient-to-br from-blue-800 to-blue-500 xs:p-20 md:rounded-se-none md:rounded-ss-2xl md:rounded-es-2xl"
  >
    <h4
      class="text-center text-3xl uppercase font-[poppins-bold] text-white md:text-xl lg:text-2xl"
    >
      Posiciona Tu Clínica en los Primeros Resultados de Google: Aumenta Citas y
      Fideliza Pacientes
    </h4>
    <ContactButton bg="bg-white" textColor="text-blue-700" />
  </div>
  <div
    class="w-full px-8 pt-8 flex justify-center bg-blue-200 items-center rounded-es-2xl rounded-ee-2xl border-t border-r border-b border-blue-600 md:items-end md:rounded-es-none md:rounded-ee-2xl md:rounded-se-2xl"
  >
    <Image
      class="w-full max-w-80 md:max-w-72"
      src={Doc}
      width="876"
      height="1052"
      alt="Doctor"
    />
  </div>
</section>
