---
import Image from "astro/components/Image.astro";
import ContactButton from "../ContactButton.astro";
import Doc from "../../images/doc.png";
---

<section
  class="w-full grid place-content-center max-w-6xl py-10 px-4 md:grid-cols-2 md:py-20"
>
  <div
    class="w-full flex flex-col justify-center p-8 gap-6 items-center rounded-se-2xl rounded-ss-2xl bg-gradient-to-br from-violet-800 to-violet-500 xs:p-20 md:rounded-se-none md:rounded-ss-2xl md:rounded-es-2xl"
  >
    <h4 class="text-center text-3xl uppercase font-[poppins-bold]">
      Contáctanos y haz crecer tu agenda
    </h4>
    <ContactButton bg="bg-white" textColor="text-[#13151a]" />
  </div>
  <div
    class="w-full px-8 pt-8 flex justify-center items-center rounded-es-2xl rounded-ee-2xl bg-[#1E1E20] md:rounded-es-none md:rounded-ee-2xl md:rounded-se-2xl"
  >
    <Image
      class="w-full max-w-80 md:max-w-72"
      src={Doc}
      width="876"
      height="1052"
      alt="Doctor"
    />
  </div>
</section>
